@page "/"
<!DOCTYPE html>
<html>

<head>
    <title>Todos</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <h1>Welcome!</h1>
    <a href="/todos">Todo list</a>
    <a href="/cat.jpg">Cat picture</a>
</body>
</html>
